
body,html  {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.container{
    position: absolute;
    border: 15px outset purple;
    margin-top: 80px;
    margin-left: 400px;
    background-color: lightgrey;
    width: 450px;
    height:405px ;
    padding: 20px;

}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

.sidenav a.active {
    background-color: darkblue;
    color: white;

}